// COMMON
$background: #EBEEF0;

// KPI
$kpi-color-value: #333;
$kpi-color-title: #8FA3AD;
$kpi-background: #FFF;

$chart-donut-line-red: #EE524F;
$chart-donut-area-red: rgba(255, 234, 237, 0.3);

$chart-donut-line-green: #6DB800;
$chart-donut-area-green: rgba(241, 255, 220, 0.3);

$chart-column-fill: #EE524F;
$chart-column-tick-line: #EBEEF0;
$chart-column-tick-text: #8FA3AD;